{% extends 'headers.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Tasks {% endblock %}


{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list-data').DataTable({
                "pageLength": 50,
                "lengthMenu": [25, 50, 100, 500],
            });
        });
    </script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="header">
        <h3 class="title"> {{ name | title }} </h3>
    </div>

    {% if name|lower == 'tasks' %}
    <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="form-group">
            <select id="search-project" name="project" multiple="multiple" class="tasks-search">
                {% for project in project_list %}
                    <option value="{{ project }}" {% if project in search_project %} selected="selected" {% endif %}>{{ project }}</option>
                {% endfor %}
            </select>
            <select id="search-tasktype" name="tasktype" multiple="multiple" class="tasks-search">
                {% for tasktype in tasktype_list %}
                    <option value="{{ tasktype }}" {% if tasktype in search_tasktype %} selected="selected" {% endif %}>{{ tasktype }}</option>
                {% endfor %}
            </select>
            <select id="search-priority" name="priority" multiple="multiple" class="tasks-search">
                {% for priority in priority_list %}
                    <option value="{{ priority }}" {% if priority in search_priority %} selected="selected" {% endif %}>{{ priority }}</option>
                {% endfor %}
            </select>
            <select id="search-state" name="state" multiple="multiple" class="tasks-search">
                {% for state in state_list %}
                    <option value="{{ state }}" {% if state in search_state %} selected="selected" {% endif %}>{{ state }}</option>
                {% endfor %}
            </select>
            <select id="search-user" name="user" multiple="multiple" class="tasks-search">
                {% for state in user_list %}
                    <option value="{{ user }}" {% if user in search_user %} selected="selected" {% endif %}>{{ user }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary tasks-search" type="submit"> Search </button>
        </div>
    </form>
    {% endif %}

    <div class="list table-responsive">
        <table class="table table-striped table-hover table-border" id="list-data">
            <thead class="thead-light">
                {% for key in keys %}
                    <th class="thead-tracker">
                        {{ key|upper }}
                    </th>
                {% endfor %}
            </thead>

            <tbody>
                {% for obj in queryset %}
                    <tr> 
                        {% for k, v in obj.items %}
                            {% if k == link %}
                                <td> <a href="{% url 'tasks:browse' task_key=v %} "> {{ v }}  </a> </td>
                            {% elif k in keys %}
                                <td> {{ v }} </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block lazyjs %}
<script type="text/javascript">
    $('#search-project').multiselect({
        includeSelectAllOption: true,
        selectAllText: 'Check all!',
        selectAllValue: 'all',
        enableFiltering: true,
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Projects'
    });
    $('#search-tasktype').multiselect({
        includeSelectAllOption: true,
        selectAllText: 'Check all!',
        selectAllValue: 'all',
        enableFiltering: true,
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'TaskType'
    });
    $('#search-priority').multiselect({
        includeSelectAllOption: true,
        selectAllText: 'Check all!',
        selectAllValue: 'all',
        enableFiltering: true,
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Priority'
    });
    $('#search-state').multiselect({
        includeSelectAllOption: true,
        selectAllText: 'Check all!',
        selectAllValue: 'all',
        enableFiltering: true,
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'States'
    });
    $('#search-user').multiselect({
        includeSelectAllOption: true,
        selectAllText: 'Check all!',
        selectAllValue: 'all',
        enableFiltering: true,
        maxHeight: 400,
        enableCaseInsensitiveFiltering: true,
        nonSelectedText: 'Users'
    });
</script>
{% endblock %}
