{% extends 'base.html' %}
{% load static %}
{% load extras %}

{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary">
  {% block logo %}
    <a class="navbar-brand" href="{% url 'home:home' %}">
      <img src="{% static 'images/header.png' %}" alt="" srcset="" width="120px">
    </a>
  {% endblock logo %}

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsTrackerDefault" aria-controls="navbarsTrackerDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="navbar collapse navbar-collapse">
    {% if user.is_authenticated %}
      {% block nav-icons %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            {% for project in request.session|get_value:user.username|get_value:"projects" %}
              <a class="dropdown-item" href="{% url 'tasks:search' %}?project={{ project.name | urlencode }}"> {{ project.name }}</a>
            {% endfor %}
          </div>
        </li>
        <li class="nav-item dropdown">
            
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Issues</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'tasks:search' %}"> Issues </a>
              <div class="dropdown-divider"> </div>
              {% for filter in request.session|get_value:user.username|get_value:"filters" %}
                <a class="dropdown-item" href="{% url 'tasks:search' %}?filter={{ filter.id }}"> {{ filter.name }} </a>
              {% endfor %}
              <div class="dropdown-divider"> </div>
              <a class="dropdown-item" href="{% url 'admin_tasks:filters-list' %}"> Filters </a>
              <a class="dropdown-item" href="{% url 'admin_tasks:filters-detail' %}"> Create Filters </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link btn btn-primary" href="{% url 'tasks:create' %}"> Create </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'home:about' %}"> About Us </a>
        </li>
      </ul>
      {% endblock nav-icons %}

      {% block search-bar %}
      <form class="form-inline my-4 my-lg-0" action="{% url 'tasks:search' %}", method="GET">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </form>
      {% endblock search-bar %}
      

      {% block userinfo %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              {{ user|upper }} <span class="caret"> </span>
            </a>
            <div class="dropdown-menu">
              {% if user and user.is_superuser %}
                <a class="dropdown-item" href="{% url 'home:admin' %}">Administration</a>
              {% endif %}
              <a class="dropdown-item" href="{% url 'accounts:profile' %}">Update Profile</a>
              <a class="dropdown-item" href="{% url 'accounts:update_password' %}">Update Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
            </div>
        </li>
      </ul>
      {% endblock userinfo %}
    {% else %}
    <div class="ml-auto">
      {% block signin %}
        <button type="button" class="btn" data-toggle="modal" data-target="#loginModal"> SignIn </button>
      {% endblock signin %}
      {% block signup %}
        <a href="{% url 'accounts:signup' %}" class="btn"> SignUp </a>
      {% endblock signup %}
    </div>
    {% endif %}
    </div>
  </nav>
{% endblock header %}
