<!-- templates/signup.html -->
{% extends 'headers.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block signin %}
{% endblock %}

{% block content %}
  <div class="container signup">
    <h2 class="signup">Create Account</h2>
    <form method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-6">
          {{ form.first_name | as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.last_name | as_crispy_field }}
        </div>
      </div>
      {{ form.email | as_crispy_field }}
      {{ form.username | as_crispy_field }}
      <div class="row">
          <div class="col-6">
            {{ form.password1 | as_crispy_field }}
          </div>
          <div class="col-6">
              {{ form.password2 | as_crispy_field }}
          </div>
        </div>
      <button class="btn btn-primary btn-lg signup-submit" type="submit">Sign up</button>
    </form>
  </div>
  
  
{% endblock %}
