/*
    Primary File for DataMonster CSS
*/
.top-image {
    margin-top: 3px;
}

.center-image {
    margin: 30 0 0 30; 
}
.middle {
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-center {
    text-align: center;
    align-items: center;
}

.card-image-width {
    width: 70px;
}
.text {
    text-align: center;
}

.middle-text {
    margin-top: 40px;
    width: 500px;
    display: inline-flex;
}

.bottom {
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center
}

.signup {
    width:60%;
}
h2.signup {
    margin-top: 50px;
    margin-bottom: 40px;
}
.signup-submit {
    margin-bottom: 20px;
    margin-left: 45%;
}

.left-pane-headings {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
}

h5.left-pane-headings {
    text-align: center;
}

.title {
    display: inline;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.add-new {
    float: right;
}

.right-pane {
    margin-left: 20px;
}